
.custom-underline{
  border-bottom: 1px solid #f00;
  font-style: normal;
}

.nite-writer-pen{
  color: black;
  background-color: yellow;
  border-radius: 5px;
  box-shadow: 0 0 10px yellow;
  font-style: normal;
}
.nite-writer-pen_1{
  letter-spacing: 0.05em;
  font-size: 23px;
  /* font-weight: bold; */
  /* border: 2px solid black;
  resize: none; */
  font-family: Georgia, sans-serif; 
}
.nite-writer-pen_2{
  color: black;
  background-color:lightyellow;
  border-radius: 5px;
  box-shadow: 0 0 10px lightyellow;
  font-style: normal;
}
.nite-writer-pen_3{
  color: black;
  background-color:Plum;
  border-radius: 5px;
  box-shadow: 0 0 10px Plum;
  font-style: normal;
}
/* .orginal-effect{
  color: red;
  background-color:yellow;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgreen;
  font-style: normal;

} */

