<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="src/vue.js"></script>
    <title>Document</title>
    <style>
       
    </style>
</head>
<body>
    <div id="app">
        <div>
            <span v-for="sentence in sentences1" :key="sentence">
              <span v-html="sentence"></span>
            </span>
        </div>
        <div>
            <span v-for="sentence in sentences2" :key="sentence">
              <span v-html="sentence"></span>
            </span>
        </div>

    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                article1: "这是一个句子.这是另一个句子</br>.还有第三个句子.",
                article2: "这是四个句子.这是另五个句子</br>.还有第六个句子."
            },
            computed:{
                sentences1() {
                    return this.article1.split(/[.?!]/).filter(sentence => sentence.trim() !== "");
                },
                sentences2() {
                    return this.article2.split(/[.?!]/).filter(sentence => sentence.trim() !== "");
                }
            },
        })
    </script>
    
</body>
</html>